{% extends "layout.html" %}


  {% block content %}
  <head>
    <title>Introduction</title>
  </head>
  <body>
    <p>Hello, my name is Anders and welcome to my recipe rating website. I have always had a passion for cooking and experimenting with new recipes. However, I found that sorting through the endless options online can be overwhelming and time-consuming. That's why I decided to create this website, to share my personal experience and honest opinion of the recipes I have tried.</p>
    <p>On this website, you will find a variety of recipes from different cuisines and skill levels. I will provide a detailed review of each recipe including the ingredients, instructions, and a rating based on taste, ease of preparation and presentation. I will also include any personal modifications or tips I have for the recipe.</p>
    <p>In the ingredients search you can provide what ever ingredients you may be intrested in using, it will give you every recipe that includes that ingredient. Enjoy!</p>
    <p>Thank you for visiting my website and I hope you find it helpful in your recipe search.</p>
  </body>
{% endblock %}